<html>
    <head>
        <title>Lyric Generator</title>
        <link href="{{ url_for('static', filename='styles.css')}}" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <h1 style="text-align: center;">Kevin's Lyric Generator</h1>
        <nav class="nav" align="center">
            <a href="{{ url_for('home') }}">Home |</a>
            <a href="{{ url_for('bands') }}">Bands |</a>
            <a href="{{ url_for('how_it_works') }}">How It Works</a>
        </nav>
    <h3 style="text-align: center;">This page shows a table with the top musical artists in a given country according to MusixMatch API.</h3>
    <h2 style="text-align: center;">Generated the top artists from {{country}}:</h2>
    <table class="artist-table">
        <thead><tr>
            <th>Musical Artist Name</th>
        </tr></thead>
        <tbody>
        {% for artist in artist_sample_list %}
        <tr>
            <td>{{ artist }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    </body>
    <footer style="text-align: center;"> &copy Kevin Riemer 2023</footer>
</html>