<html>
  <head>
    <title>Lyric Generator</title>
    <link href="{{ url_for('static', filename='styles.css')}}" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <h1 style="text-align: center;">Welcome to Kevin's Lyric Generator</h1>
    <nav class="nav" align="center">
      <a href="{{ url_for('home') }}">Home |</a>
      <a href="{{ url_for('bands') }}">Bands |</a>
      <a href="{{ url_for('how_it_works') }}">How It Works</a>
    </nav>
    <h4 style="text-align: center; margin-left:15em; margin-right:15em;"> On this page, you can generate up to 10 lines of new lyrics for a musical artist of your choice. 
      Alternatively, you can navigate to the Bands page if you need ideas of artists to generate lyrics for (this will take a couple extra steps).
    </h4>
      <form align="center" action="{{ url_for('random_artist') }}" method="post" class="random">
        You can click <input class="button" type="submit" value="Here" id="random"><br /> to pick a random musical artist.
      </form>
      <form align="center" action="{{ url_for('lyrics') }}" method="post" class="lyrics">
      Or Enter Musical Artist Name: <input name="artist" type="text" id="artist"/><br />
      Number of Lines to Generate:
      <select name="lines" id="lines">
        {% for n in range(1,11) %}
          <option value="{{n}}">{{n}}</option>
        {% endfor %}
      </select>
      <br /><br />
      <input class="button" type="submit" value="Generate">
      </form>
  </body>
  <footer style="text-align: center;"> &copy Kevin Riemer 2023</footer> 
  <footer style="text-align: center"> Lyrics used for generation from MusixMatch API are not for commercial use.</footer>
</html>