<html>
  <head>
    <title>Lyric Generator</title>
    <link href="{{ url_for('static', filename='styles.css')}}" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <h1 style="text-align: center;">Kevin's Lyric Generator</h1>
    <nav class="nav" align="center">
      <a href="{{ url_for('home') }}">Home | </a>
      <a href="{{ url_for('bands') }}">Bands | </a>
      <a href="{{ url_for('how_it_works') }}">How It Works</a>
    </nav>
    <div align="center" style="padding-top:20px;">
      <h2>Generated New Lyrics for {{ artist }} using Markov Chains!</h3>
      <h3 style="background-color: lightblue; width: 500px">
      {% for line in result %}
      {{ line }}<br />
      {% endfor %}
      </h3>
    <br />
    <form action="{{ url_for('home') }}">
      <input class="button" type="submit" value="Back to Home" />
    </form>
    </div>
  </body>
  <footer style="text-align: center;"> &copy Kevin Riemer 2023</footer>
</html>
<script type="text/javascript" src="http://tracking.musixmatch.com/t1.0/AMa6hJCIEzn1v8RuOP">